################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Azure.NetCore.Learning.slnx
/WebApp.NetCore.EF.Demo/bin/Debug/net10.0
/WebApp.NetCore.EF.Demo/bin/Release/net10.0
/Console.QueueConsumer.Demo/bin/Debug/net10.0
/Mvc.AzureStorage.Demo/bin/Debug/net10.0
/Console.ServiceBus.Receiver.Demo/bin/Debug/net10.0
/Console.ServiceBus.Receiver.Topic.Demo/bin/Debug/net10.0
/Console.ServiceBus.Sender.Demo/bin/Debug/net10.0
/Console.ServiceBus.Sender.Topic.Demo/bin/Debug/net10.0
